.basicRotate {

	position: relative;
	user-select: none;
	cursor: grab;

	&:active {
		cursor: grabbing;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		pointer-events: none;

		&:first-child {
			// The first element defines the size
			position: relative;
		}

		&.active {
			opacity: 1;
		}
	}

}